$depth: 4.6rem;
$border: 0.3rem;

.extrude {
  width: 50%;
  &__wrapper {
    padding: $depth 0 0 $depth;
    margin: (-$depth) 0 0 (-$depth);
    position: relative;
  }
  &__cropper {
    overflow: hidden;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  &__base {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100% - #{$depth});
    background: #b29d83;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 4;
      border-right: solid $border #000;
      border-bottom: solid $border #000;
    }
    &:after {
      content: "";
      position: absolute;
      right: $border / 2;
      bottom: 0;
      width: 100%;
      height: $border;
      background-color: #000;
      z-index: 2;
      transform-origin: 100% 100%;
      transform: rotate(45deg);
    }
  }
  &__content {
    border: solid $border #000;
    position: relative;
    z-index: 4;
    background-color: #fff;
  }
  &__image {
    object-fit: contain;
    display: block;
  }
  &__line {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #b29d83;

    &--left {
      border-bottom: $border solid #000;
      transform-origin: 100% 100%;
      transform: rotate(45deg);
      right: 100%;
      top: 0;
      z-index: 3;
    }
    &--top {
      border-top: $border solid #000;
      transform-origin: 100% 0;
      transform: rotate(45deg);
      right: 0;
      top: 0;
      z-index: 3;
    }
  }
  &:hover {
    .extrude {
      &__wrapper {
        padding: 0;
      }
      &__cropper {
        padding: 0 $depth $depth 0;
      }
      &__base {
        width: calc(100% - #{$depth});
      }
    }
  }
}
