.page {
  &--home {
  }
  &__hero {
  }
  &__hero {
    height: 100vh;
    position: relative;
  }
  &__flow {
    color: #fff;
    background-color: #000;
    padding: 12.1rem 0 14.9rem;
  }
  &__showcase {
    padding: 12.2rem 0 1.5rem;
  }
  &__feedback {
  }
}
.hero {
  &__container {
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 14rem 1.5rem;
  }
  &__text {
    width: 100%;
    margin: auto;
  }
  &__variant {
    display: inline-block;
  }
  &__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 2.3rem 0rem;
  }
  &__label {
    padding: 1.6rem 1.5rem;
  }
  &__marquee {
  }
  &__clients {
    white-space: nowrap;
    flex-wrap: wrap;
  }
  &__client {
    vertical-align: middle;
    padding: 1.5rem 8.1rem 1.5rem 1.5rem;
    width: auto;
    display: inline-block;
  }
  &__logo {
  }
}
.container {
}
.flow {
  &__container {
  }
  &__top {
    padding: 1.2rem 0;
  }
  &__slug {
    margin-bottom: 0.6rem;
  }
  &__title {
    max-width: 57rem;
    line-height: 1.39;
  }
  &__intro {
    padding: 1rem 0 2.6rem;
  }
  &__process {
    padding: 1.5rem 0;
  }
}
.showcase {
  &__top {
    padding: 1.2rem 0;
  }
  &__slug {
    margin-bottom: 0.6rem;
  }
  &__title {
    font-size: 12rem;
    line-height: 1.17;
  }
  &__intro {
    padding: 2.1rem 0 1.6rem;
    max-width: 83rem;
  }
  &__container {
  }
  &__portfolio {
  }
  &__marquee {
    display: block;
    margin: 7.6rem 0;
  }
  &__see {
    display: block;
    white-space: nowrap;
    flex-wrap: wrap;
  }
  &__more {
    vertical-align: middle;
    padding: 2.4rem;
    display: inline-block;
    color: #6b79c3;
    font-family: "Formula Condensed";
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 1.39;
    text-align: center;
  }
}
.feedback {
  	background-image: url('/images/feedback-bg.png');
  	background-repeat: no-repeat;
  	background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  	background-color: #fff;
  	position: relative;
  &__container {
  	max-width: 105rem;
  	padding: 11rem 1.5rem;
  	position: relative;
  }
  &__swiper {
  	background-position: 50% 50%;
  	background-image: url('/images/quotes.svg');
  	background-repeat: no-repeat;
  	background-size: contain;
  }
  &__swiper-wrapper {
  }
  &__slide {
  	padding: 5rem 0;
  }
  &__quote {
  	padding: 1rem 0;
color: #000000;
font-family: "Formula Condensed";
font-size: 7.2rem;
font-weight: 700;
line-height: 1.39;
text-align: center;
  }
  &__meta {
  	// Style for "Emil Hajri"
color: #555555;
font-size: 1.8rem;
padding: 1rem;
  }
  &__name {
  }
  &__dot {
  }
  &__position {
  }
  &__pagination {
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  }
}