input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

svg:not(:root) {
  overflow: visible;
}

textarea {
  resize: none;
}

main,
article,
section,
header {
  display: block;
}

img {
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  box-shadow: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-variant-ligatures: no-common-ligatures;
  text-rendering: optimizeLegibility;
}
