:root {
  --primaryFont: "Roboto Condensed", Arial, Helvetica, sans-serif;
  --secondaryFont: "Montserrat", Arial, Helvetica, sans-serif;
  --headingFont: "Montserrat", Arial, Helvetica, sans-serif;
  
  --red: #ff0000;
  --pink: #ef7fa8;
  --azure: #00a3e0;
  --yellow: #ffa110;
  --greyLighter: #f9f9f9;
  --greyLight: #f0f1f5;
  --grey: #e2e2e2;
  --greyDark: #a3aec2;
  --greyDarker: #414042;
}
